.env
origin-data/*
kafka/data/broker1/*
kafka/data/broker2/*
kafka/data/broker3/*
minio-data/*
consumer-app-alarm/checkpoints/*
airflow/logs/*
pgdata/

!origin-data/.gitkeep
!minio-data/.gitkeep
!consumer-app-alarm/checkpoints/.gitkeep
!airflow/logs/.gitkeep
!airflow/dags/.gitkeep 
!airflow/plugins/.gitkeep
