lowercaseOutputName: true
lowercaseOutputLabelNames: true
rules:
  # 1. 토픽별 메시지 유입량 (핵심!)
  # BrokerTopicMetrics에서 topic 정보를 추출해서 label로 만듭니다.
  - pattern: kafka.server<type=BrokerTopicMetrics, name=MessagesInPerSec, topic=(.+)><>(Count|OneMinuteRate)
    name: kafka_server_brokertopicmetrics_messagesinpersec_$2
    labels:
      topic: $1

  # 2. 전체(Total) 메시지 유입량
  - pattern: kafka.server<type=BrokerTopicMetrics, name=MessagesInPerSec><>(Count|OneMinuteRate)
    name: kafka_server_brokertopicmetrics_messagesinpersec_$1

  # 3. 그 외 나머지 안전장치
  - pattern: kafka.server<type=(.+), name=(.+), (.+)=(.+)><>(Count|Value)
    name: kafka_server_$1_$2_$5
    labels:
      $3: $4
  - pattern: kafka.server<type=(.+), name=(.+)><>(Count|Value)
    name: kafka_server_$1_$2_$3